@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/*-------RESET--------*/
* {
  margin: 0;
  padding: 0;
  max-width: 150%;
  box-sizing: border-box; }

body {
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  background-color: #ffbadf;
  margin: 0;
  padding-top: 145px; }

header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
  margin: 0;
  padding: 0; }

header .header-container .container, .navbar .container-fluid, footer .subscribete {
  display: flex;
  justify-content: center;
  align-items: center; }

header .header-container .container {
  padding: 20px; }

header, .navbar, .navbar .container-fluid {
  background-color: #f18bff; }

nav {
  background-color: #e838ff; }

nav, main #carouselExampleIndicators .carousel-item img {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); }

header {
  height: 100px; }
  header .header-container .container {
    flex-direction: column; }
  header .titulo-roma {
    order: 1;
    width: 100%;
    text-align: center;
    margin-bottom: 20px; }
    header .titulo-roma h1 {
      font-size: 4.5rem; }

nav {
  position: fixed;
  top: 100px;
  left: 0;
  width: 100%;
  z-index: 900; }

.navbar {
  order: 2;
  width: 100%;
  position: fixed;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0; }
  .navbar .container-fluid {
    justify-content: space-between; }
  .navbar .navbar-brand img {
    width: 50px; }
  .navbar .navbar-nav .nav-link {
    color: #000; }
    .navbar .navbar-nav .nav-link.active {
      color: #007bff; }

main .destacados, main .nuestros-productos, main .hero article, main .info-envios, main .sobre-nosotros h2, main .video-container, footer, footer .mapa, footer .subscribete {
  text-align: center; }

main .destacados {
  background-color: #ff19c6; }

main .destacados b {
  color: #0066cc; }

main .nuestros-productos, main .hero, main .sobre-nosotros {
  background-color: #ffbadf; }

main .hero article .buttons a, main .info-envios .centrar-enlace a {
  background-color: #c74eff; }

main .info-envios {
  background-color: #35d176; }

nav, main #carouselExampleIndicators .carousel-item img {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); }

main .destacados a {
  border-radius: 4px; }

main .nuestros-productos, main .hero, main .hero article, main .sobre-nosotros {
  padding: 1rem; }

main .info-envios {
  padding: 2rem; }

main {
  min-width: 100%;
  box-sizing: border-box; }
  main .destacados h2 {
    padding-top: 50px;
    font-size: 4rem;
    color: black; }
  main .destacados b {
    display: block;
    margin: 20px 0;
    font-size: 1.2rem; }
  main .destacados a {
    display: inline-block;
    margin: 10px;
    padding: 8px 20px;
    background-color: #ffcc00;
    color: #333;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease; }
    main .destacados a:hover {
      background-color: #e6b800; }
  main #carouselExampleIndicators {
    max-width: 800px;
    margin: 0 auto; }
    main #carouselExampleIndicators .carousel-item img {
      max-width: 100%;
      height: auto;
      margin-top: 20px;
      border-radius: 8px; }
  main .nuestros-productos {
    text-decoration: underline;
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem; }
  main .hero {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-top: 2.5rem;
    margin-bottom: 2rem; }
    main .hero article {
      border: 0.2rem solid black;
      box-sizing: border-box;
      position: relative;
      overflow: hidden;
      height: auto; }
      main .hero article p {
        margin-bottom: 1rem; }
      main .hero article .buttons {
        display: flex;
        justify-content: space-around;
        margin-top: 1rem; }
        main .hero article .buttons a {
          text-decoration: none;
          color: #fff;
          padding: 0.5rem 1rem;
          display: inline-block;
          border-radius: 0.5rem;
          transition: background-color 0.3s ease;
          border: none;
          cursor: pointer;
          font-size: 1rem;
          transition: transform 0.3s, color 0.3s; }
          main .hero article .buttons a:hover {
            background-color: #f749c3; }
          main .hero article .buttons a:hover {
            transform: translateY(-2px);
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); }
          main .hero article .buttons a + a {
            margin-left: 1rem; }
      main .hero article img {
        max-width: 100%;
        height: auto;
        transition: transform 0.3s ease-in-out; }
        main .hero article img:hover {
          transform: scale(1.05); }
  main .info-envios h2 {
    text-decoration: underline;
    font-size: 2rem;
    margin-bottom: 1rem; }
  main .info-envios p {
    font-size: 1.2rem;
    margin-bottom: 2rem; }
  main .info-envios .centrar-enlace {
    margin-bottom: 2rem; }
    main .info-envios .centrar-enlace a {
      text-decoration: none;
      color: white;
      padding: 1rem 2rem;
      border-radius: 0.5rem;
      font-size: 1.2rem;
      transition: background-color 0.3s ease;
      transition: transform 0.3s ease-in-out; }
      main .info-envios .centrar-enlace a:hover {
        background-color: #f749c3; }
      main .info-envios .centrar-enlace a:hover {
        transform: scale(1.05); }
  main .info-envios .info-envio {
    display: flex;
    justify-content: center;
    gap: 20rem; }
    main .info-envios .info-envio img {
      width: 100%;
      max-width: 10rem;
      height: auto;
      transition: transform 0.3s ease-in-out; }
      main .info-envios .info-envio img:hover {
        transform: scale(1.05); }
  main .sobre-nosotros {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: justify; }
    main .sobre-nosotros h2 {
      font-size: 2.5rem;
      color: black;
      margin-bottom: 30px;
      text-decoration: underline; }
  main .video-container {
    margin-top: 50px; }
    main .video-container .video-iframe {
      width: 70%;
      height: 400px;
      margin-bottom: 50px; }

header .header-container .container, .navbar .container-fluid, footer .subscribete {
  display: flex;
  justify-content: center;
  align-items: center; }

main .destacados, main .nuestros-productos, main .hero article, main .info-envios, main .sobre-nosotros h2, main .video-container, footer, footer .mapa, footer .subscribete {
  text-align: center; }

footer {
  font-family: "Roboto", sans-serif; }

footer {
  background-color: #c74eff;
  color: white;
  padding: 2rem 1rem; }
  footer h3 {
    margin: 50px 0;
    font-size: 4rem;
    text-decoration: underline; }
  footer b {
    font-size: 1.5rem; }
  footer .social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    /* Distribuye el espacio de manera uniforme */
    list-style: none;
    padding: 0;
    margin: 0 auto;
    max-width: 600px; }
    footer .social-links li {
      display: inline;
      margin: 0; }
      footer .social-links li a img {
        max-width: 100px;
        max-height: 100px;
        object-fit: contain;
        transition: transform 0.3s ease; }
        footer .social-links li a img:hover {
          transform: scale(1.1); }
  footer .mapa {
    margin-top: 20px; }
    footer .mapa h4 {
      margin: 10px 0;
      font-size: 3rem; }
    footer .mapa .ubicacion {
      width: 100%;
      height: 300px;
      margin-top: 10px;
      border-radius: 0.5rem; }
  footer .subscribete {
    padding: 20px;
    border-radius: 10px;
    margin: 20px 0; }
    footer .subscribete label {
      margin-right: 10px; }
    footer .subscribete input[type="email"] {
      padding: 5px;
      margin-right: 10px;
      border-radius: 5px;
      border: 1px solid #ccc; }
    footer .subscribete button {
      background-color: #ff993a;
      color: #333;
      padding: 5px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      transition: transform 0.3s ease; }
      footer .subscribete button:hover {
        background-color: #eee;
        transform: scale(1.05); }

@media screen and (min-width: 1200px) and (max-width: 1879px) {
  .hero article {
    height: 30rem; }
  .hero article img {
    max-width: 100%;
    height: auto;
    max-height: 20rem; } }

@media screen and (max-width: 768px) {
  .hero {
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 1rem; }
  .hero article {
    height: auto; }
  .hero article img {
    width: 100%;
    height: auto; }
  .info-envios .info-envio {
    flex-direction: row;
    gap: 1rem; }
  .info-envios .info-envio img {
    max-width: 100px;
    height: auto; } }

@media (max-width: 600px) {
  header {
    height: auto;
    padding: 10px; }
  .titulo-roma h1 {
    font-size: 1.8rem; }
  nav {
    top: auto;
    position: static; }
  .navbar .container-fluid {
    flex-direction: column;
    align-items: center; }
  .navbar .navbar-nav {
    flex-direction: column;
    text-align: center; }
  .navbar .navbar-nav .nav-link {
    padding: 0.5rem; }
  main .destacados h2 {
    font-size: 2rem; }
  .info-envios h2 {
    font-size: 1.5rem; }
  .info-envios p,
  .info-envios .centrar-enlace a {
    font-size: 1rem; }
  .info-envios .info-envio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem; }
  .info-envios .info-envio img {
    max-width: 8rem;
    flex: 1 1 48%; }
  .hero {
    grid-template-columns: 1fr;
    gap: 1rem; }
  footer {
    padding: 1rem; }
  footer .footer-container {
    gap: 1rem; }
  footer .footer-container .social a {
    font-size: 1rem; }
  footer .footer-container .mapa iframe {
    max-width: 100%;
    height: auto; }
  .contacto .imagenes-contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin: 0;
    padding: 0; }
  .contacto .imagenes-contacto img {
    max-width: 100%;
    height: auto; } }

@media (max-width: 450px) {
  header {
    height: auto;
    padding: 10px; }
  .titulo-roma h1 {
    font-size: 1.5rem; }
  nav {
    top: auto;
    position: static; }
  .navbar .container-fluid {
    flex-direction: column;
    align-items: center; }
  .navbar .navbar-nav {
    flex-direction: column;
    text-align: center; }
  .navbar .navbar-nav .nav-link {
    padding: 0.5rem; }
  main {
    width: 120%; }
  main .destacados h2 {
    font-size: 1.5rem; }
  .info-envios h2 {
    font-size: 1.2rem; }
  .info-envios p,
  .info-envios .centrar-enlace a {
    font-size: 0.9rem; }
  .info-envios .info-envio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem; }
  .info-envios .info-envio img {
    max-width: 7rem;
    flex: 1 1 48%; }
  .hero {
    grid-template-columns: 1fr;
    gap: 1rem; }
  footer {
    padding: 1rem;
    width: 120%; }
  footer .footer-container {
    gap: 1rem; }
  footer .footer-container .social a {
    font-size: 1rem; }
  footer .footer-container .mapa iframe {
    max-width: 100%;
    height: auto; }
  .contacto .imagenes-contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin: 0;
    padding: 0; }
  .contacto .imagenes-contacto img {
    max-width: 100%;
    height: auto; } }
