// Variables de colores
$header-bg-color: rgb(247, 186, 255); // Color de fondo del header
$nav-bg-color: rgb(232, 56, 255); // Color de fondo del nav
$box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); // Sombra del nav
$nav-link-color: #000; // Color de los enlaces del navbar
$nav-link-active-color: #007bff; // Color de los enlaces activos del navbar

// Mixins
@mixin fixed-header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    margin: 0;
    padding: 0;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin container-padding($padding) {
    padding: $padding;
}

@mixin box-shadow {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

@mixin bg-color($color) {
    background-color: $color;
}

// Mixin para animación del h1
@mixin fade-in-slide-up($duration) {
    animation: fadeInSlideUp $duration ease-in-out forwards;
}

// Keyframes para la animación del h1
@keyframes fadeInSlideUp {
    0% {
        opacity: 0;
        transform: translateY(20px) scale(0.9);
    }

    100% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

// Extends
%fixed-header {
    @include fixed-header;
}

%flex-center {
    @include flex-center;
}

%container-padding-20 {
    @include container-padding(20px);
}

%bg-header-color {
    @include bg-color($header-bg-color);
}

%bg-nav-color {
    @include bg-color($nav-bg-color);
}

%box-shadow {
    @include box-shadow;
}

// Header
header {
    @extend %fixed-header;
    @extend %bg-header-color;
    height: 100px;

    .header-container .container {
        @extend %flex-center;
        flex-direction: column;
        @extend %container-padding-20;
    }

    .titulo-roma {
        order: 1;
        width: 100%;
        text-align: center;
        margin-bottom: 20px;

        h1 {
            font-size: 4.5rem;
            @include fade-in-slide-up(1s);
        }
    }
}

main {
    margin-top: 120px;
}

// Navigation
nav {
    position: fixed;
    top: 100px;
    left: 0;
    width: 100%;
    @extend %bg-nav-color;
    z-index: 900;
    @extend %box-shadow;
}

// Navbar
.navbar {
    order: 2;
    width: 100%;
    @extend %bg-header-color;
    position: fixed;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;

    .container-fluid {
        @extend %flex-center;
        justify-content: space-between;
        @extend %bg-header-color;
    }

    .navbar-brand img {
        width: 50px;
    }

    .navbar-nav {
        display: flex;
        flex-grow: 1;
    }

    .navbar-nav .nav-link {
        color: $nav-link-color;

        &.active {
            color: $nav-link-active-color;
        }
    }


    form.d-flex {
        margin-left: auto;
    }
}