@media screen and (max-width: 1879px) {

    .hero article {
        height: 30rem;

    }

    .hero article img {
        max-width: 100%;
        height: auto;
        max-height: 20rem;
    }
}

@media (max-width: 991px) {
    .navbar-collapse {
        display: none;
    }

    .navbar-toggler {
        display: block;
    }

    .navbar-collapse.show {
        display: block;
    }
}

@media screen and (max-width: 768px) {

    .hero {
        grid-template-columns: 1fr;
        gap: 1rem;
        padding: 1rem;
    }

    .hero article {
        height: auto;
    }

    .hero article img {
        width: 100%;
        height: auto;
    }

    .info-envios .info-envio {
        flex-direction: row;
        gap: 1rem;
    }

    .info-envios .info-envio img {
        max-width: 100px;
        height: auto;
    }

    .sobre-devoluciones {
        padding: 20px;
    }

    .sobre-devoluciones h2 {
        font-size: 1.5rem;
    }

    .devoluciones-imagenes {
        grid-template-columns: 1fr;
    }

    .foto-nosotros {
        height: 80vh; 
    }

    h2 {
        font-size: 2em; 
    }

    p {
        font-size: 1em; 
    }
}


@media (max-width: 600px) {
    header {
        height: auto;
        padding: 1rem;
    }

    .titulo-roma h1 {
        font-size: 2rem;
        text-align: center;
    }

    nav {
        position: static;
    }

    .navbar .container-fluid {
        flex-direction: column;
        align-items: center;
    }

    .navbar .navbar-nav {
        flex-direction: column;
        text-align: center;
    }

    .navbar .navbar-nav .nav-link {
        padding: 0.75rem;
        font-size: 1rem;
    }

    main .destacados h2 {
        font-size: 2.5rem;
        margin-bottom: 1rem;
        padding-top: 100px;
    }

    .info-envios h2 {
        font-size: 1.75rem;
        margin-bottom: 0.5rem;
    }

    .info-envios p,
    .info-envios .centrar-enlace a {
        font-size: 1.1rem;
        line-height: 1.5;
    }

    .info-envios .info-envio {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1.5rem;
    }

    .info-envios .info-envio img {
        max-width: 9rem;
        flex: 1 1 48%;
    }

    .hero {
        grid-template-columns: 1fr;
        gap: 1.5rem;
    }

    footer {
        padding: 1.5rem;
        text-align: center;
    }

    footer .footer-container {
        gap: 1.5rem;
    }

    footer .footer-container .social a {
        font-size: 1.2rem;
    }

    footer .footer-container .mapa iframe {
        max-width: 100%;
        height: auto;
    }

    .contacto .imagenes-contacto {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
        margin: 0;
        padding: 0;
    }

    .contacto .imagenes-contacto img {
        max-width: 100%;
        height: auto;
    }
    footer .subscribete input[type="email"] {
        padding: 0.1rem; 
        font-size: 0.6rem; 
        border: 1px solid #ccc;
        border-radius: 0.2rem; 
        margin-bottom: 0.1rem; 
        width: calc(100% - 0.4rem); 
    }

    footer .subscribete input[type="submit"] {
        padding: 0.2rem; 
        font-size: 0.6rem; 
        background-color: #333;
        color: #fff;
        border: none;
        border-radius: 0.2rem; 
        cursor: pointer;
        transition: background-color 0.3s ease;
        width: calc(100% - 0.4rem); 
    }

    footer .subscribete input[type="submit"]:hover {
        background-color: #555;
    }


}

@media (max-width: 450px) {
    header {
        height: auto;
        padding: 0.75rem;
    }

    .titulo-roma h1 {
        font-size: 1.75rem;
        text-align: center;
    }

    nav {
        position: static;
    }

    .navbar .container-fluid {
        flex-direction: column;
        align-items: center;
    }

    .navbar .navbar-nav {
        flex-direction: column;
        text-align: center;
    }

    .navbar .navbar-nav .nav-link {
        padding: 0.5rem;
        font-size: 0.9rem;
    }

    main {
        width: 100%;
    }

    main .destacados h2 {
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    .hero article p {
        font-size: 0;
    }

    .info-envios h2 {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
    }

    .info-envios p,
    .info-envios .centrar-enlace a {
        font-size: 1rem;
        line-height: 1.4;
    }

    .info-envios .info-envio {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
    }

    .info-envios .info-envio img {
        max-width: 8rem;
        flex: 1 1 48%;
    }

    main .hero {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        margin-top: 2.5rem;
        margin-bottom: 2rem;

    }

    .hero {
        grid-template-columns: 1fr;
        gap: 1.5rem;
    }

    main .info-envios .info-envio img {
        width: 100%;
        max-width: 7rem;
    }

    footer {
        padding: 1rem;
        text-align: center;
    }

    footer h3 {
        margin: 50px 0;
        font-size: 3rem;
        text-decoration: underline;
    }

    footer .mapa h4 {
        margin: 10px 0;
        font-size: 2rem;
    }

    footer .footer-container {
        gap: 1rem;
    }

    footer .social-links {
        margin-top: 20px;
    }

    footer .footer-container .social a {
        font-size: 1rem;
    }

    footer .footer-container .mapa iframe {
        max-width: 100%;
        height: auto;
    }

    .contacto .imagenes-contacto {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        margin: 0;
        padding: 0;
    }

    .contacto .imagenes-contacto img {
        max-width: 100%;
        height: auto;
    }

    

}








@media (max-width: 385px) {

    header {
        height: auto;
        padding: 0.25rem;
    }

    .titulo-roma h1 {
        font-size: 0.875rem;
        text-align: center;
    }

    nav {
        max-height: 100%;
        max-width: 100%;
        position: static;
    }

    .navbar .container-fluid {
        flex-direction: column;
        align-items: center;
    }

    .navbar .navbar-nav {
        flex-direction: column;
        text-align: center;
    }

    .navbar .navbar-nav .nav-link {
        padding: 0.25rem;
        font-size: 0.9rem;
    }

    main {
        max-width: 100vh;
    }

    main .destacados {
        height: 100%;
    }

    main .destacados h2 {
        font-size: 2rem;
        margin-bottom: 0.5rem;
    }

    .info-envios h2 {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
    }

    .info-envios p,
    .info-envios .centrar-enlace a {
        font-size: 1rem;
        line-height: 1.4;
    }

    .info-envios .info-envio {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
    }

    .info-envios .info-envio img {
        max-width: 4rem;
        flex: 1 1 48%;
    }

    .hero>* {
        max-width: 100%;
        box-sizing: border-box;
    }

    .hero article p {
        font-size: 0;
    }

    footer {
        padding: 0.5rem;
        text-align: center;
    }

    footer b {
        font-size: 1rem;

    }

    footer .footer-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
    }

    footer .social-links {
        display: flex;
        justify-content: center;
        gap: 1;
        padding: 0.5rem 0;
    }

    footer .social-links a {
        font-size: 0.875rem;
    }

    footer .mapa h4 {
        font-size: 1.5rem;
        margin: 0.5rem 0;

    }

    footer .mapa iframe {
        max-width: 100%;
        height: auto;
        border: none;
    }

    footer .subscribete h4 {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
    }


}


@media (max-width: 367px) {

    main .info-envios .info-envio {
        display: flex;
        justify-content: center;
        gap: 2rem;
    }
}